<form [formGroup]="formCupom">
  <div class="form-group">
    <label for="inputAddress">Data Validade</label>
    <div>
      <input
        name="dataValidade"
        type="date"
        id="dataValidade"
        class="form-control mt-1 mb-2 ml-3"
        formControlName = "dataValidade"
        value={{dataValidade}}
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress2">desconto</label>
    <input type="number" class="form-control" id="desconto" formControlName="desconto">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Descrição</label>
    <input type="text" class="form-control" id="descricao" formControlName="descricao">
  </div>
  <br/>
  <div class="form-row">
    <div>
      <button type="submit" class="form-control" (click)="salvarCupom()">Salvar</button>
    </div>
  </div>
</form>
