.container {
  display: flex;
  align-items: center;
  width: max-content;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;  
  padding: 20px;
  margin-left: 43%;
  margin-top: 10%;
  margin-bottom: 12%;
  width: 350px;
}
