<video autoplay muted loop id="myVideo">
  <source src="../assets/videos/restaurante.mp4" type="video/mp4">
</video>

<form [formGroup]="formCadastro" class="content">
  <div class="form-group">
    <label for="exampleInputEmail1">E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="username">
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" formControlName="password">
  </div>
  <br>
  <div class="d-grid gap-2" style="margin: 0 auto;">
    <button type="submit" mat-flat-button color="primary" style="margin: 0 auto;" (click)="cadastrarNovoUsuario()">Inscrever-se</button>
  </div>
</form>
