<!--<div class="card">
  <mat-card *ngFor="let estabelecimento of teste$ | async as estabelecimentos" style="margin-top: 10px;">
      <mat-card-header>
          <mat-card-title>Nome: {{estabelecimento.nome}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>Rua: {{estabelecimento.endereco.logradouro}}</p>
          <p>Cidade: {{estabelecimento.endereco.cidade}}</p>
      </mat-card-content>
      <br/>
  </mat-card>

</div>-->

<div class="card" style="width: 18rem;" *ngFor="let estabelecimento of teste$ | async as estabelecimentos">
  <img class="card-img-top" src="../../../assets/images/download.jpg" alt="Card image cap">
  <div class="card-body">
    <h1 class="card-title">{{estabelecimento.nome}}</h1>
    <p class="card-text">{{estabelecimento.telefone1}}</p>
    <p class="card-text">{{estabelecimento.telefone2}}</p>
    <a href="#" class="btn btn-primary">Ver mais</a>
  </div>
</div>
