<!--<div class="card">
  <mat-card *ngFor="let estabelecimento of teste$ | async as estabelecimentos" style="margin-top: 10px;">
      <mat-card-header>
          <mat-card-title>Nome: {{estabelecimento.nome}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>Rua: {{estabelecimento.endereco.logradouro}}</p>
          <p>Cidade: {{estabelecimento.endereco.cidade}}</p>
      </mat-card-content>
      <br/>
  </mat-card>

</div>-->

<!-- <div class="card" style="width: 18rem;" *ngFor="let estabelecimento of teste$ | async as estabelecimentos">
  <img class="card-img-top" src="../../../assets/images/download.jpg" alt="Card image cap">
  <div class="card-body">
    <h1 class="card-title">{{estabelecimento.nome}}</h1>
    <p class="card-text">{{estabelecimento.telefone1}}</p>
    <p class="card-text">{{estabelecimento.telefone2}}</p>
    <a href="#" class="btn btn-primary">Ver mais</a>
  </div>
</div> -->

<!-- continuar a logica acima no layout abaixo -->

<div class="row rowStyled" *ngFor="let estabelecimento of estabelecimentos$ | async as estabelecimentos">
  <div class="block" id="{{ 'id-' + estabelecimento.id}}">
    <!--<img src="https://mdbootstrap.com/img/Photos/Others/placeholder7.webp" alt="">-->
    <img src= {{estabelecimento.portfolio.imagens[0].imageContent}}>
    <div>
      <h1> {{estabelecimento.nome}}</h1>
      <p style="font-family:verdana; font-size: 16px;"><b>
          <!-- Email: {{estabelecimento.email}} <br/> -->
          Endereço: {{estabelecimento.endereco.logradouro}}, {{estabelecimento.endereco.numero}}, {{estabelecimento.endereco.cidade}}, {{estabelecimento.endereco.uf}} <br/>
          Telefone: {{estabelecimento.telefone1}} <br/>
          Cupons disponíveis: {{estabelecimento.cupons.length}}
        </b></p>

    </div>
    <p style="font-family:verdana; font-size: 10px;"><b>
      <div class="row">
        <button mat-flat-button color="primary" (click)="verificarId(estabelecimento.id)">Ver mais</button>
      </div>
      <br/>
      <div class="row">
        <button mat-flat-button color="primary" (click)="redirecionarCupons(estabelecimento.id)">Ver Cupons</button>
      </div>
    </b></p>
  </div>
</div>
