.block {
    overflow: hidden;
    background: #ffff;
    padding: 1rem;
    margin: 0 0 1rem 0;
}

.block img {
    width: 130px;
    height: 130px;
    float: left;
    margin: 0 1rem 0 0;
}

.block h2 {
    margin: 0 0 0.5rem 0;
}

/*NEW STYLES*/
.block {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    /* this adds the "card" effect */
    text-align: center;
    bottom: 0;
    margin: 0 auto;
    margin-left: 12%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;  
}

.rowStyled {
    width: 80%;
    margin-top: 2%;
}