<form *ngFor="let estabelecimento of teste$ as estabelecimentos">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder={{estabelecimento.email}} disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Nome Estabelecimento</label>
    <input type="text" class="form-control" id="inputAddress" value={{estabelecimento.nome}}>
  </div>
  <div class="form-group">
    <label for="inputAddress">Telefone 1</label>
    <input type="text" class="form-control" id="inputAddress" value={{estabelecimento.telefone1}}>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Telefone 2</label>
    <input type="text" class="form-control" id="inputAddress2" value={{estabelecimento.telefone2}}>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="button">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="submit" class="btn btn-primary" (click)="inicio()">Voltar</button>
   </div>

</form>
