/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;  
  padding: 20px;
  width: 350px;
  margin-left : 36%;
  margin-bottom: 5%;
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 90%;
    min-height: 90%;
  }