<form *ngFor="let usuario of usuarios$" style="padding-left:500px;height: 836px;">
  <div class="row">
    <div class="column">
      <div class="form-group">
        <label for="inputAddress">Nome Estabelecimento</label>
        <input type="text" class="form-control" id="inputAddress" value={{usuario.nome}}>
      </div>    
      <div class="form-group">
        <label for="inputAddress">Telefone 1</label>
        <input type="text" class="form-control" id="inputAddress" value={{usuario.telefone2}}>
      </div>
      <div class="form-group">
        <label for="inputAddress2">Telefone 2</label>
        <input type="text" class="form-control" value={{usuario.telefone2}}>
      </div>
      <div class="form-row">
    
        <div class="form-group">
          <label for="inputCity">Logradouro</label>
          <input type="text" class="form-control" value={{usuario.endereco.logradouro}}>
        </div>
    
        <div class="form-group">
          <label for="inputCep">Cep</label>
          <input type="text" class="form-control" value={{usuario.endereco.cep}}>
        </div>
    
        <div class="form-group">
          <label for="inputCep">Complemento</label>
          <input type="text" class="form-control" value={{usuario.endereco.complemento}}>
        </div>
    </div>
    </div>

    <div class="column" style="margin-left: -200px;">
      <div class="form-group">
        <label for="inputCep">Numero</label>
        <input type="text" class="form-control" value={{usuario.endereco.numero}}>
      </div>
  
      <div class="form-group">
        <label for="inputCep">Ponto Referencia</label>
        <input type="text" class="form-control" value={{usuario.endereco.pontoReferencia}}>
      </div>
  
      <div class="form-group">
        <label for="inputCity">Cidade</label>
        <input type="text" class="form-control" value={{usuario.endereco.cidade}}>
      </div>
  
      <div class="form-group">
        <label for="inputCep">Bairro</label>
        <input type="text" class="form-control" value={{usuario.endereco.bairro}}>
      </div>
  
      <div class="form-group">
        <label for="inputCep">UF</label>
        <input type="text" class="form-control" value={{usuario.endereco.uf}}>
      </div>
    </div>
  </div>
</form>