<!--1<p>
    <mat-toolbar color="primary">
        <span>VitriniDigital</span>
        <span class="espacamento-toolbar"></span>
        <button mat-icon-button (click)="deslogar()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
</p>-->

<!--<mat-card-content>
    <router-outlet></router-outlet>
</mat-card-content>-->

<div class="d-grid gap-2">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="login()">Estabelecimentos</button>
  <br>
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="direcionarPaginaPrincipal()">Usuario</button>
</div>
