<!-- add ngfor aqui para lista de cupons -->

<div class="row">
    <div class="column">
        <div class="card">
            <p style="font-family:verdana; font-size: 16px;"><b>
                    Nome estabelecimento<br>
                    Cupom infos <br> teste <br>
                </b>
            </p>
            <button mat-flat-button color="primary">Ver mais</button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p style="font-family:verdana; font-size: 16px;"><b>
                    Nome estabelecimento<br>
                    Cupom infos <br> teste <br>
                </b>
            </p>
            <button mat-flat-button color="primary">Ver mais</button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p style="font-family:verdana; font-size: 16px;"><b>
                    Nome estabelecimento<br>
                    Cupom infos <br> teste <br>
                </b>
            </p>
            <button mat-flat-button color="primary">Ver mais</button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p style="font-family:verdana; font-size: 16px;"><b>
                    Nome estabelecimento<br>
                    Cupom infos <br> teste <br>
                </b>
            </p>
            <button mat-flat-button color="primary">Ver mais</button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p style="font-family:verdana; font-size: 16px;"><b>
                    Nome estabelecimento<br>
                    Cupom infos <br> teste <br>
                </b>
            </p>
            <button mat-flat-button color="primary">Ver mais</button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p style="font-family:verdana; font-size: 16px;"><b>
                    Nome estabelecimento<br>
                    Cupom infos <br> teste <br>
                </b>
            </p>
            <button mat-flat-button color="primary">Ver mais</button>
        </div>
    </div>
</div>